<div>
    <div class="panel-dashboard-outer grid-stack-item-content panel panel-default">
        <div id="{{id}}" class="grid-stack-id panel-body panel-dashboard-inner">

            <div class="player">
                <div class="position">{{position}}</div>
                <div class="shirt"></div>
                <div class="name">{{name}}</div>
            </div>

        </div>
    </div>
</div>
