<div>
    <div class="panel-dashboard-outer grid-stack-item-content panel panel-default">
        <div id="{{id}}" class="grid-stack-id panel-body panel-dashboard-inner">

            <div class="player"></div>

        </div>
    </div>
</div>
