<button type="button" class="btn btn-default waves-effect waves-lightadd-player add-player">
    <i class="fas fa-plus"></i>
    <span class="text">Dodaj gracza z ławki</span>
</button>
<div class="grid-stack pitch grid-stack-animate"></div>
