<div id="ball" class="ball"
     style='
             background-image:url("../src/styles/img/ball2.png");
             position:absolute;
             left:{{positionX}}px;
             top:{{positionY}}px;
             '>
</div>
