<div id="ball" class="ball-wrapper">
    <div class="ball"
         style='margin-left:50px;
                 margin-top:45px;
                 background-image:url("../src/styles/img/ball2.png");
                 width:15px;
                 height:15px;
                 position:absolute;
                 left:{{positionX}}px;
                 top:{{positionY}}px;'>
    </div>
</div>
