<div class="field-wrapper"
     style='background-image: url("../src/styles/img/field.png"); background-repeat: no-repeat; background-size: contain;'>
    <div class="field" style='width:{{width}}px; height:{{height}}px;'></div>
</div>


