@media (max-width: 1850px) {
  .score-board {
    position: relative !important;
  }

  .control-buttons {
    position: relative !important;
  }

  .console {
    position: relative !important;
  }
}

.score-board {
  position: absolute;
  right: 0;
}

.configuration {
  top: 100px;
  position: absolute;
  right: 0;
  width: 350px;
  height: 50px;
  text-align: right;
}

.control-buttons {
  top: 50px;
  position: absolute;
  right: 0;
  width: 350px;
  height: 50px;
  text-align: right;

  .control-btn {
    //width: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    .do-play {
      display: none;
    }

    .do-pause {
      display: block;
    }

    &.is-playing {
      background-color: #f44336;;

      .do-play {
        display: block;
      }

      .do-pause {
        display: none;
      }
    }

    &.showNames {
      background-color: #008CBA;

      &.off {
        background-color: #f44336;
      }
    }
  }
}

.console {
  font-family: Consolas, serif;
  top: 200px;
  position: absolute;
  right: 0;
  width: 435px;
  height: 600px;
  overflow-y: auto;
  background: transparent;

  display: flex;
  flex-direction: column-reverse;

  .console-lines {
    padding: 2px 2px 10px 2px;

    th {
      color: #393939;
      font-size: 12px;
      padding-bottom: 7px;
      border-bottom: 1px solid transparent;
      padding-right: 11px;
    }

    .when {
    }

    .who {
      color: #747474;
    }

    .what {
      color: green;
    }
  }
}
