.player {
  .decision {
    color: red;
    font-weight: bolder;
    opacity: 0.0;
    position: absolute;

  }


  .name {
    color:white;
    font-size:12px;
    position:absolute;
    text-align:left;
    top:-60px;
    left:70px;
  }
  .bodyContainer {
    image-rendering: pixelated;
    margin-left:25px;
    margin-top:0px;
    width:50px;
    height:45px;
    overflow:hidden;
    transform: scale(1);
    position:absolute;
  }



  .shirt {
    animation: animation 0.7s steps(6) infinite; /* The Animation */
    width:50px;
    height:45px;
    position:absolute;
  }
  .shorts {
    width:50px;
    height:45px;
    position:absolute;
    animation: animation 0.7s steps(6) infinite; /* The Animation */
  }
  .body {
    width:50px;
    height:45px;
    position:absolute;
    animation: animation 0.7s steps(6) infinite; /* The Animation */
  }
  .boots {
    width:50px;
    height:45px;
    position:absolute;
    animation: animation 0.7s steps(6) infinite; /* The Animation */
  }
  @keyframes animation {
    from{background-position-x:0px;}
    to{background-position-x:-300px;}

  }



  .faceGenerator {

  }

  .faceContainer {
    //  margin-top:100px;
    margin-left:40px;
    width:20px;
    height:20px;
    overflow:hidden;
    transform: scale(1);
    position:absolute;
  }

  .head {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }
  .eyes {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }
  .eyebrows {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }
  .mouth {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }
  .moustache {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }
  .hair {
    position:absolute;
    image-rendering: pixelated;
    object-position: 0px 0px;
  }


  .faceGenerator:hover {

  }


}
