.player {
  .decision {
    color: red;
    font-weight: bolder;
    opacity: 0.0;
    position: absolute;

  }
  .name {
    color:white;
    font-size:12px;
    position:absolute;
    text-align:left;
    top:-60px;
    left:70px;

  }
}
