.pitch {

  width: 1200px;
  min-height: 799px !important;
  max-height: 800px !important;

  .grid-stack-id {
    //   background: #ffffff30;

    &:hover {
      border: 1px dashed white;
    }

    .player {
      //      display: flex;
      width: 100px;
      height: 100px;;

      .position {
        margin-left: 0px;
        color: #fff832;
        font-family: fantasy;
        font-size: 17px;
        text-shadow: 2px 2px #565656;
        margin-top: 5px;
        //  text-align: center;
        //float: left;

        &.forward {
          color: #db4453;
        }

        &.midfielder {
          color: #7ee408;
        }

        &.defender {
          color: #fff832;
        }

        &.goal-keeper {
          color: #f777f7;
        }
      }

      .shirt {
        /*
        background: url("http://eddyzzg.webd.pl/manager/player48.png");
        height: 49px;
        width: 50px;
        margin-left: 3px;
        margin-top: 5px;


         */
      }

      .name {
        margin-left: 0px;
        color: white;
        font-family: Arial;
        font-size: 12px;
        text-shadow: 2px 2px #565656;
        margin-top: 28px;
        text-align: center;
      }

    }
  }

}
