.pitch {
  background-image: url("http://eddyzzg.webd.pl/manager/back.jpg");
  width: 960px;
  min-height: 599px !important;
  max-height: 600px !important;

  .grid-stack-id {
    background: #ffffff30;

    &:hover {
      border: 1px dashed white;
    }

    .player {
      display: flex;

      .position {
        margin-left: 7px;
        color: #fff832;
        padding-top: 2px;
        font-family: fantasy;
        font-size: 17px;
        text-shadow: 2px 2px #565656;
        margin-top: 11px;

        &.forward {
          color: #db4453;
        }

        &.midfielder {
          color: #7ee408;
        }

        &.defender {
          color: #fff832;
        }

        &.goal-keeper {
          color: #f777f7;
        }
      }

      .shirt {
        background: url("http://eddyzzg.webd.pl/manager/player48.png");
        height: 49px;
        width: 50px;
        margin-left: 3px;
        margin-top: 5px;
      }

      .name {
        margin-left: 5px;
        color: white;
        padding-top: 2px;
        font-family: fantasy;
        font-size: 17px;
        text-shadow: 2px 2px #565656;
        margin-top: 2px;
      }

    }
  }

}
