<div class="match-window-container">
    <div class="score-board"></div>
    <div class="face-container"></div>
    <div class="field-container"></div>
    <div class="console">
        <table class="console-lines"></table>
    </div>
    <div class="control-buttons">
        <button class="control-btn pause">||</button>
        <button class="control-btn play"> ></button>
    </div>
</div>
