<div class="match-window-container">
    <div class="score-board"></div>
    <div class="face-container"></div>
    <div class="field-container"></div>
    <div class="configuration"></div>
    <div class="console">
        <table class="console-lines"></table>
    </div>
    <div class="control-buttons">
        <button class="control-btn pause-play is-playing">
            <i class="do-play fa-sharp fa-solid fa-pause"></i>
            <i class="do-pause fa-sharp fa-solid fa-play"></i>
        </button>

        <button class="control-btn showNames">
            <i class="fas fa-tags"></i>
        </button>
    </div>
</div>
