@import "styles/avatars";

body {
  font-family: Arial, serif;

  .main-container {
    .title-container {
      font-size: 23px;
      padding-bottom: 30px;
      width: 100%;
      text-align: center;
      padding-top: 15px;
    }

    .player-info-container {
      width: 20%;
      float: left;
      margin-left: 42%;

      .name-container {
        width: 100%;
        font-size: 27px;
        margin-left: 10px;
        margin-top: 17px;
        color: gray;
        text-align: center;
      }

      .buttons-container {
        height: 52px;
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        #nameGen {
          width: 120px;
          height: 50px;
        }

        #faceGen {
          width: 120px;
          height: 50px;
        }
      }


    }
  }
}
