@import "styles/avatars";
@import "styles/squadManager";
@import "styles/gridstack";

.hidden {
  display: none;
}

body {
  font-family: Arial, serif;
 color:gray;

  .main-container {
    .title-container {
      font-size: 64px;
      padding-bottom: 30px;
      width: 100%;
      text-align: center;
      padding-top: 15px;
      color: gray;
    }

    .player-info-container {
      width: 27%;
      //float: left;
      margin-left: 38%;

      .name-container {
        width: 100%;
        font-size: 27px;
        margin-left: 10px;
        margin-top: 17px;
        color: gray;
        text-align: center;
      }

      .buttons-container {
        height: 52px;
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        #nameGen {
          //width: 120px;
          //height: 50px;
        }

        #faceGen {
          //width: 120px;
          //height: 50px;
        }
      }
    }
  }

}
