<div class="main-container">
    <ul class="menu hidden">
        <li class="menu-element"><a href="#" class="generator">GENERATOR</a></li>
        <li class="menu-element"><a href="#" class="squad-manager">SQUAD MANAGER</a></li>
    </ul>

    <div class="title-container"></div>
    <div class="content-container">
        <div class="face-generator-container hidden"></div>
        <div class="squad-manager-container"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>
