<div class="main-container">
    <ul class="menu">
        <li class="menu-element"><a href="#" class="generator">GENERATOR</a></li>
        <li class="menu-element"><a href="#" class="squad-manager">SQUAD MANAGER</li>
    </ul>

    <div class="title-container"></div>
    <div class="content-container"></div>
</div>
