<div class="main-container">
    <ul class="menu hidden">
        <li class="menu-element"><a href="#" class="generator">GENERATOR</a></li>
        <li class="menu-element"><a href="#" class="squad-manager">SQUAD MANAGER</li>
    </ul>

    <div class="title-container"></div>
    <div class="content-container">
        <div class="face-generator-container"></div>
        <div class="squad-manager-container"></div>
    </div>
</div>
