<div class="main-container">
    <div class="title-container">

    </div>

    <div class="player-info-container">
        <div class="face-container"></div>
        <div class="name-container"></div>

        <div class="buttons-container">
            <button id="faceGen">Generuj morde</button>
            <button id="nameGen">Generuj imie i nazwisko</button>
        </div>
    </div>
</div>
