<div class="main-container">
    <ul class="menu hidden">
        <li class="menu-element"><a href="#" class="generator">GENERATOR</a></li>
        <li class="menu-element"><a href="#" class="squad-manager">SQUAD MANAGER</a></li>
        <li class="menu-element"><a href="#" class="squad-manager">SQUAD MANAGER</a></li>
    </ul>

    <div class="title-container hidden"></div>
    <div class="content-container hidden">
        <button class="start-match">Rozpocznij mecz</button>
        <div class="face-generator-container hidden"></div>
        <p>Gospodarze</p>
        <div class="squad-manager-home-container"></div>
        <p>Goście</p>
        <div class="squad-manager-away-container"></div>
    </div>
    <div class="match-container"></div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>


<canvas id="field_canvas" class="hidden"></canvas>
<canvas id="player_canvas" class="hidden"></canvas>
